/common/DRAMPower/drampower
/common/DRAMPower/traces
/common/DRAMPower/traces.zip
/common/DRAMPower/config.log
/common/ramulator-pim/ramulator
/pim/ramulator-pim/build
/host/ramulator-host/build
/zsim-ramulator/build
/zsim-ramulator/misc/hooks/libzsim_jni.so
/zsim-ramulator/misc/hooks/test.class
/zsim-ramulator/misc/hooks/test_c
/zsim-ramulator/misc/hooks/test_cpp
/zsim-ramulator/misc/hooks/test_fortran
/zsim-ramulator/misc/hooks/test_lois
/zsim-ramulator/misc/hooks/zsim.class
/zsim-ramulator/misc/hooks/zsim_jni.h
*.o
*.d
*.a
.depend
.sconf_temp
.sconsign.dblite
*.swp
